-
    const menuItems = [
        {
            id: "#about-company",
            title: "Компетенции"
        },
        {
            id: "#s-content",
            title: "Флот"
        },
        {
            id: "#geography-work ",
            title: "География работы"
        },
        {
            id: "#contacts",
            title: "Контакты"
        },
    ]
    const locals = ["Rus", "Eng"];