/* Позиционирование по центру: */
position: absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%) ;

position: absolute;
top: 50%;
right: 0;
width: 43%;
transform: translate(0%, -50%);


/* dispaly none */
visibility: hidden;
opacity: 0;
width: 0; 
height: 0;
position: absolute; 
top: -9999px; 
left: -9999px;
display: none !important;
