
<div class="main__align">
    <button class="main__button button open__popup">Подать заявку</button>
    <div class="form-title">Заявка на участие в форуме</div>
</div>


<div class="popup">
    <div class="popup__overlay">
        <div class="popup__body">
            <div class="popup__close"></div>
            <div class="popup__wrap">
                <div class="popup__title">Оставьте заявку</div>
                <div class="popup__desc">Мы перезвоним Вам максимально быстро</div>

                <form class="popup__form" method="post">
                    <input type="text" name="your-name" class="you-name" id="">
                    <div class="popup__item popup__item--name">
                        <label for="">Ваше имя</label>
                        <input type="text" class="popup__input" name="name" id="name">
                    </div>
                    <div class="popup__item popup__item--phone">
                        <label for="phone">Ваше имя</label>
                        <input type="tel" class="popup__input" name="phone" id="phone">
                    </div>
                    <div class="popup__item popup__item--phone">
                        <label for="message">Кратко опишите Ваши задачи для получения консультации</label>
                        <input type="text" class="popup__input" name="message" id="message">
                    </div>
                    <div class="popup__align">
                        <button type="submit" class="popup__button">Отправить</button>
                    </div>
                </form>

            </div>
            <div class="popup__success">
                <div class="popup__title">Благодарим за обращение!</div>
            </div>
        </div>
    </div>
</div>